@import "tailwindcss";

@layer utilities {
    .flip-card-container {
        perspective: 1000px;
    }

    .flip-card-inner {
        transform-style: preserve-3d;
        transition: transform 0.7s;
    }

    .flip-card-inner.flipped {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .flip-card-back {
        transform: rotateY(180deg);
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
